@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html,
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: black;
    color:#00AF05;
    font-weight:lighter;
    font-style: normal;
    text-align: center;
    font-family:"Lato", system-ui;
    
}

h1 {
    display: inline-block;
    color: #00AF05;
    font-family: Inspiration;
    font-size: clamp(120px, 25vw, 40vw);
    font-weight: 400;
    margin-top: 10vw;
   /* top:40vh;*/
    z-index: 50;
}

h1 span:hover {
    animation: bounce 1s ease infinite;
}

h2{
    font-size: 10vw;
    font-weight: lighter;
    font-family: "Jolly Lodger", system-ui;

}

h3{
    font-size: 6vw;
    font-weight: lighter;
    margin: 0;
    font-family: "Jolly Lodger", system-ui;

}
.toolbar{
  top: 0;
}

img {
    max-width: 100%;
}


p {
    color: #00A405;
    text-indent: 20px;
   /* font-size:5vh; */
    font-size:clamp(3vh, 4vh, 6vh);
    font-style: normal;
    line-height:auto;
    border-radius: 80px;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

a {
    color:#00A405;
    cursor: pointer;
    text-decoration: none;
   }

.streamlinks a{
    display:inline-flex;
    background-color: #09290a78;
    padding: 1vw;
    padding-top: .01vw;
    padding-bottom: .01vw;
    border-radius: 20%;
    text-align: center;
    line-height: 200%;
    margin-bottom: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 5vw;
    font-family: "Jolly Lodger", system-ui;
}


a:hover{
    color: #09290A;
    text-decoration: none;
}
a:visited{
    color: #09290A;
    text-decoration: none;
}
a:active{
    color: #09290A;
    text-decoration: none;
}


.info-box {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: 90%;
}

.info-box a {
    padding: 0;
}

.info-box p {
    padding: 0;
    /*font-size: clamp(24px, 4vw, 48px);*/
    font-size:clamp(3vh, 4vh, 6vh);

}

.info-box img {
    object-fit: auto;
    width: 100%;
    height: auto;
}

@media (width <= 600px) {
    .info-box {
        flex-direction: column;
    }
}

.captionandmap {
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw; /* Space between text and map */
  margin: auto;
  padding: 2vh;
}
  
.mapheading{
  text-align: center;  /* Centers text horizontally */
  width: 100%;         /* Ensures it spans the full width */
  margin: 0 auto;      /* Centers the heading within its container */
    display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically */
  height: 50vh; /* Adjust based on layout */
}


.captionandmap iframe {
  min-width: 20%;
   max-width: 100%;
  height: 30vw;
  width: 30vw;
  border-radius: 10px;
  border: none;
}

.captionandmap img{
    mix-blend-mode:green;
    image-resolution:1000%;
    position:absolute;
    height:auto;
    display: flex;
    width: 120vw;
    z-index: -2;
    opacity: 20%;
    left: 25vw;
    top: 400vh;
}

.caption{ 
  font-size: clamp(18px, 2vw, 4vw);
  text-align: left;
  max-width: 30vw;
  }

.caption2{
    display: flex;
    font-size: clamp(24px, 3vw, 5vw);
    z-index: 10;
    left: 1rem;
    right: 1rem;
    text-align: center;

  }
  
.general{
    align-content: center; 
    font-size: 10%; 
    max-width: 100%;
    margin-left: 3vw;
    text-align: left;
}
.general img{
    max-width: 100%;
    width: 70vw;
    height: auto;
    gap: 20%;
}

.general2{
    display: flex;
    text-align: right;
    align-content:center;
}
.general2 img{
    max-width: 100%;
    width: 40vw;
    height: auto;
}

.general3{
    display: flex;
    text-align: left;
    align-content:left;
}

.general3 p {
    width: 50%;
}

.general3 a {
    width: 50%;
}
.general3 img{
    max-width: 100%;
    width:20vw;
    height: auto;
}

.spotify{
    text-align: right;
    padding-right: 10vw;
}
.spotifylite{
    padding-bottom: 10vh;
}

#social{
    padding-left: 10vh;
    text-align: left;
    padding-bottom:1vh;
}
.socialite{
    line-height: 5vw;
    padding-bottom: 10vh;
}

.disclaimer{
    background-color: #09290a78;
    padding: 2vw;
    margin: 0;
    font-size: clamp(24px, 64px, 150px);
}